@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
}

:root {
	--yellow-500: #FDCA00;
	--yellow-300: #FEE402;
	--yellow-100: #FFFED5;
	--black-500: #111111;
	--black-300: #1C1C1C;
}

main {
	background-color: var(--black-500);
	height: 100vh;
	display: flex;
	color: var(--yellow-100);
	font-family: Dongle;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: auto;
	grid-template-areas: 
		". header ."
		". intro ."
		". under-construction ."
		". work .";
}

h1 {
	color: var(--yellow-500);
	font-size: 22vw;
	max-height: min-content;
	display: flex;
}

h6 {
	color: var(--yellow-300);
	font-size: 4vw;
	margin-top: -3.3em;
	margin-left: 0.5em;
}

p {
	font-size: 18pt;
}

a {
	color: var(--yellow-300);
}

.loop {
	animation-iteration-count: infinite;
}

.animate {
	animation: flip 3s infinite;
	animation-delay: calc(.15s * var(--i))
}

@keyframes flip {
	0%,70% {
	  transform: rotateY(-360deg) 
	}
  }

.container {
	margin: auto;
}

.header {
	grid-area: header;
	align-self: end;
}

.intro {
	grid-area: intro;
	text-align: center;
}

.under-construction {
	grid-area: under-construction;
	text-align: center;
}

.collaborate {
	grid-area: collaborate;
	text-align: center;
}

.work {
	grid-area: work;
	text-align: center;
}

