@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
* {
	margin: 0;
	padding: 0;
}

:root {
	--yellow-500: #FDCA00;
	--yellow-300: #FEE402;
	--yellow-100: #FFFED5;
	--magenta-500: #ff006e;
	--black-500: #111111;
	--black-300: #1C1C1C;
}

main {
	background-color: var(--black-500);
	height: 100vh;
	display: flex;
	color: var(--yellow-100);
	font-family: Major Mono Display;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: auto;
	grid-template-areas: 
		". header ."
		". intro ."
		". work ."
		". social .";
}

.flex {
	display: flex;
}

h1 {
	color: var(--yellow-500);
	font-size: 10vw;
	max-height: min-content;
	overflow: hidden;
	height: 10vw;
}

.magenta {
	color: var(--magenta-500);
}

.mt-1 {
	margin-top: 1em;
}

p {
	font-size: 14pt;
}

a {
	color: var(--yellow-300);
}

.from-bottom {
	animation: in-from-bottom 12s
}

@keyframes in-from-bottom {
	from {
		top: -1vw;
	}
	to {
		top: 0vw;
	}
}

.fade-in {
	animation: fade 6s;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate {
	animation: flip 22s infinite;
	animation-delay: calc(.15s * var(--i));

}



@keyframes flip {
	5.1% {
		opacity: 1;
	}
	5.2%{
		opacity: 0;
	}
	5.3% {
		margin-top: 0vh;
	}
	5.4% {
		margin-top: -10vh;
	}
	5.5% {
		opacity: 0;
	}
	5.6%{
		opacity: 1;
	}
	20% {
		margin-top: -10vh;
		transform: rotateY(2880deg);
	}
	50% {
		margin-top: -10vh;
		transform: rotateY(2880deg);
	}
	56.1% {
		opacity: 1;
	}
	56.2%{
		opacity: 0;
	}
	56.3% {
		margin-top: -10vh;
	}
	56.4% {
		margin-top: 0vw;
	}
	56.5% {
		opacity: 0;
	}
	56.6%{
		opacity: 1;
	}
	80% {
		margin-top: 0vw;
		transform: rotateY(0deg);
	}
	100% {
		margin-top: 0vw;
		transform: rotateY(0deg);
	}
  }

.container {
	margin: auto;
}

.header {
	grid-area: header;
	align-self: end;
}

.intro {
	grid-area: intro;
	text-align: center;
	margin-top: 2em;
}

.under-construction {
	grid-area: under-construction;
	text-align: center;
}

.collaborate {
	grid-area: collaborate;
	text-align: center;
}

.work {
	grid-area: work;
	text-align: center;
	align-self: center;
}

.social {
	align-self: end;
	grid-area: social;
	text-align: center;
	color: var(--yellow-300);
	padding-bottom: 2em;
	overflow: hidden;
	height: 1vw;
}

.social-icon {
	fill: white;
	cursor: pointer;
}

.facebook:hover {
	fill: #3b5998
}

.linkedin:hover {
	fill: #0e76a8
}

.github:hover {
	fill: #bebfc1
}

.reddit:hover {
	fill: #ff4500
}